@import "../../assets/styles/app.scss";

@media (max-width: 638px){
  .confirmacion{
    height: 100% !important;
    grid-template-rows: 40% 60% !important;
    &__text{
      padding: 1%;
      & h3{
        margin-top: 4% !important;
      }
    }
  }
}
.confirmacion {
  height: 50%;
  width: 100%;
  padding: 10%;
  background-color: $color-claro;
  color: $color-oscuro;
  border-radius: 30px;
  display: grid;
  grid-template-rows: 30% 70%;
  justify-items: center;
  align-items: center;
  text-align: center;
  &__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
  }
  &__img {
    width: 20em;
    height: 6em;
  }

}