@import "../../../assets/styles/app.scss";
.Button {
  width: 80%;
  height: 2rem;
  padding: auto;
  margin: 1%;
  text-decoration: none;
  border-radius: 30px;
  border: 0;
  font-size: x-large;
  font-style: italic;
  font-weight: 800;
  @extend .sombraClara;
  @extend .centradoFlex;
  &__primario {
    background-color: $color-primario;
    color: $color-claro;
  }
  &__primario:hover {
    color: $color-claro;
    @extend .degragadoColor;
  }
  &-img {
    position: relative; 
    background-color: $color-claro;   
    color: $color-oscuro;
    @extend .sombraOscura;
    & img {
     height: 2rem;
      border-radius: 50%;
      position: absolute;
      left: 0%;
      @extend .sombraOscura;
    }
    &:hover {
      & img {
        left: 90%;
        transition: 450ms all;
      }
    }
  }
}
