@import '../../../assets/styles/app.scss';

.FotoPerfil{ 
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    & img{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -1;
    border-radius: 20px;
}}