@import '../../../assets/styles/app.scss';

.cardImg{
    width: 100px;
    height: 100px;
    margin: 3%;
    font-size: larger;
    font-style: oblique;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &_content{
        display: flex;
        & > p{
            margin-bottom: 0%;
        }
        & > small{
            margin: 0% 4%;
        }
    }
    & p{
        margin: 0% 2%;
    }
}