@import "../../assets/styles/app.scss";

.ContainerCard{
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 2%;
    &__title{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
}