@import '../../assets/styles/app.scss';

.formularioRegister{
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-rows: 20% 50% 20%;
  background-color: $color-oscuro;
  color: $color-claro;
  & > form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &__Botones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
