@import '../../assets/styles/variables.scss';

.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: fade-out($color: $color-oscuro, $amount: 0.4);
  z-index: 1;
  &__content {
    width: 90%;
    height: 90%;
    position: relative;
    background-color: fade-out($color: $color-oscuro, $amount: 0.2);
    color: $color-claro-primario;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    @extend .sombraPrimario;
    &__title{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
    }
    &__messager{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    & i {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 1;
      color: fade-out($color-claro-primario, $amount: 0.5);
      &:hover {
        color: $color-primario;
      }
    }
  }
}
