@import '../../../assets/styles/app.scss';

.Input{
    width: 80%;
    margin: 2%;
    border: none;
    border-bottom: 1px solid $color-claro;
    background: transparent;
    color: $color-claro;
    &__standar{
        border: 1px solid $color-claro !important;
    }
}
.Input::placeholder{
    text-align: center;
    color: $color-claro;
}
.Input:hover{
    border-bottom: 1px solid $color-segundario !important;
    transition: 450ms all;
}
.Input__standar:hover{
    border: 1px solid $color-segundario !important;
}
.Input:focus{
    outline: none;
}