@import '../../assets/styles/variables.scss';

.Header{
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 10% 10% auto 10% 10%;
  align-items: center;
  justify-items: center;
  background-color: $color-claro-primario;
  @extend .sombraOscura;
  &__atras{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
  }
  &__logo{
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    justify-self: left;
  }
  &__isotipo{
    grid-column-start: 4 ;
    grid-column-end: 5 ;
  }
};
