@import '../../assets/styles/variables.scss';

.Header{
  width: 100%;
  height: 8%;
  display: grid;
  grid-template-columns: 10% 10% auto 10% 10%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  position: fixed;
  top:0%;
  background-color: $color-claro-primario;
  @extend .sombraOscura;
  &__atras{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
  }
  &__logo{
    grid-column-start: 3 ;
    grid-column-end: 4 ;
    justify-self: center;
  &__title{
    grid-column-start: 3 ;
    grid-column-end: 4 ;
    justify-self: center;
  }
    > img{
      width: 130px;
      height: 40px;
    }
  }
  &__isotipo{
    grid-column-start: 4 ;
    grid-column-end: 5 ;
  }
};
