@import '../../assets/styles/app.scss';

@media (max-width: 638px){
  .Contenido{
    &__img{
      display: none;
      &-movil{
        display: block !important;
      }
    }
  }
}

.Contenido{
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background: $color-oscuro-opacidad ;
  color: $color-claro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  &__img{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: absolute;
    z-index: -1;
    &-movil{
      display: none;
      height: 100vh;
      width: 100vw;
      background-size: cover;
      position: absolute;
      z-index: -1;
    }
  }
}