@import "../../assets/styles/variables.scss";

.Footer {
  width: 100vw;
  height: 10%;
  border-radius: 30px 30px 0px 0px;
  background-color: $color-claro-primario;
  display: grid;
  grid-template-columns: 5% 15% 15% 15% 15% 15% 15% 5%;
  justify-items: center;
  align-items: center;
  position: fixed;
  bottom: 0%;
  @extend .sombraOscura;
  &__perfil-img{
    > img{
      height: 40px;
      width: 40px;
      border-radius: 30px;
  }
  }
  &__eventos {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  &__personas {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  &__btn {
    grid-column-start: 4;
    grid-column-end: 6;
    position: absolute;
    top: -50%;
    & > button{
      width: 80px;
      height: 80px;
      font-size: 60px;
      border-radius: 50%;
    }
    & .button{
      border-color: $color-primario;
      color: $color-claro-primario;
      @extend .degragadoColor;
      @extend .sombraOscura;
      &{
        &-aceptar{
          border-color: $color-aceptar;
          background-color: $color-aceptar;
          color: $color-claro-primario;
        }
      }
      
    }
    & > img {
      border-radius: 50%;
      background-color: $color-claro-contraste;
      @extend .sombraOscura;
    }
  }
  &__lugares {
    grid-column-start: 6;
    grid-column-end: 7;
  }
  &__perfil {
    grid-column-start: 7;
    grid-column-end: 8;
  }
}
