@import "./variables.scss";

.suscribir{
  background-color: $color-aceptar;
  color: $color-claro-primario;
}
.unsuscrited{
  background-color: $color-segundario;
  color: $color-oscuro;
}
.Evento{
  height: 100%;
  width: 100%;
  & > .CardBig{
    display: grid;
    grid-template-rows: 30% 70%;
    & div > img{
      position: relative;
      height: 100%;
      width: 100%;
    }
    & div > button{
      position: absolute;
      left: 58%;
      bottom: 65%;
      font-size: 18px;
      height: 3rem;
      border-radius: 10px;
      border-width: 1px;
      @extend .sombraOscura;
    }
  }
  & > .CardBig > &_content{
    height: 100%;
    display: grid;
    grid-template-rows: 50% 30% 20%;
    align-self: center;
    padding-left: 5%;;
    position: relative;
    > p{
      margin: 0%;
    }
  }

}