@import "./variables.scss";

.Persona{
  height: 100%;
  width: 100%;
  & > .CardBig{
    display: grid;
    grid-template-rows: 30% 70%;
    > img{
      height: 100%;
      width: 100%;
    }
  }
  & > .CardBig > &_content{
    height: 100%;
    display: grid;
    grid-template-rows: 50% 30% 20%;
    align-self: center;
    padding-left: 5%;;
    position: relative;
    > p{
      margin: 0%;
    }
    > button{
      position: absolute;
      bottom: 1%;
      right: 6%;
      font-size: 20px;
      border-radius: 30%;
      border-width: 1px;
      background-color: $color-aceptar;
      color: $color-claro-primario;
      @extend .sombraOscura;
    }
  }

}